<div class="container">
  <div class="content-view">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field>
          <mat-label>Open text</mat-label>
          <textarea matInput formControlName="openText"></textarea>
        </mat-form-field>

        <div class="col">
          <button
            mat-button
            color="primary"
            (click)="onEncryptionButtonClick()"
          >
            Encrypt
          </button>
          <app-change-strategy-button
            (strategySelect)="onStrategySelect($event)"
          ></app-change-strategy-button>
        </div>

        <mat-form-field>
          <mat-label>Closed text</mat-label>
          <textarea matInput formControlName="closedText"></textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
